.chart-wrapper {
  padding: 20px 20px 0px 20px;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
}
.help.absolute {
  position: absolute;
  right: 20px;
  top: 15px;
  color: #a5a5a5;
}
.chart {
  position: relative;
  background-color: #fff;
  box-shadow: #777 0px 0px 2px;
  min-height: 190px;
  padding: 0px 10px 0px 20px;
}
.chart.total-amount-money-invested.open {
  min-height: 265px;
}
.chart .header {
  width: 100%;
  padding-top: 10px;
}
.chart .header .icon {
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(/img/icon.png);
  background-size: cover;
  left: -5px;
  top: 17px;
}
.chart .header .title {
  color: #676767;
  font-size: 20px;
  font-weight: 200;
}
.chart .header .sub-title {
  color: #bababa;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}
.chart .header .summary {
  color: #4c4c4c;
  font-weight: bold;
  font-size: 40px;
  line-height: 70px;
}
.chart .header .summary .unit {
  font-weight: 100;
  font-size: 30px;
}
.chart .header .summary .unit.small {
  font-size: 20px;
}
.chart .header .help {
  position: absolute;
  top: 13px;
  right: 10px;
  color: #a5a5a5;
  font-weight: 100;
}
.chart .content .details {
  padding: 10px 10px 0px 10px;
}
.chart .content .details.total-carbon-chart {
  padding-bottom: 60px;
}
.chart .view-details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 45px;
  background-color: #fafafa;
  color: #828282;
  text-align: center;
  border-top: #e2e2e2 solid 1px;
  padding-top: 13px;
}
.chart .view-details:hover {
  cursor: pointer;
}
.chart .view-details.total-amount-money-invested-details {
  height: 130px;
}
.chart .view-details.total-amount-money-invested-details:hover {
  cursor: default;
}
.chart .view-details.total-amount-money-invested-details .title {
  text-align: left;
  color: #474747;
  margin-left: 10px;
}
.chart .view-details.total-amount-money-invested-details .title .unit {
  color: #828282;
}
.chart .view-details.total-money-earned {
  text-align: left;
  height: 50px;
  padding: 15px;
}
.chart .view-details.total-money-earned .result {
  color: #474747;
}
.chart .view-details.total-money-earned .arrow-up {
  margin-left: 5px;
  color: #85b12f;
}
.chart .view-details.total-money-earned:hover {
  cursor: default;
}
.chart .paginator {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding: 5px;
  border-bottom: 3px #86b12d solid;
}
.chart .paginator .navigate {
  position: absolute;
  background-color: #86b12d;
  width: 22px;
  height: 22px;
  top: 2px;
  border-radius: 100px;
  box-shadow: #aaa 0px 0px 1px;
  border: 2px #fff solid;
  color: white;
  text-align: center;
  font-size: 12px;
}
.chart .paginator .navigate.older {
  left: -10px;
}
.chart .paginator .navigate.newer {
  right: -10px;
}
.chart .paginator .navigate:hover {
  cursor: pointer;
}
.chart .paginator .navigate.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
