@font-face {
  font-family: xfinity;
  src: url(/font/xfinity.otf);
}
body {
  background-image: url(/img/bg.png);
  background-repeat: no-repeat;
  background-size: 100% ;
  font-family: xfinity;
}
.bottom-bar {
  display: none;
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30%;
  background-color: black;
  box-shadow: 0 0 165px 140px #000000;
  opacity: 0.9;
}
.card {
  background-color: rosybrown;
  height: 180px;
  margin-top: 400px;
  color: #ffffff;
  text-align: center;
  font-size: xx-large;
}
.side-btn {
  background-color: red;
  height: 180px;
  margin-top: 400px;
}
.more-btn {
  background-color: gold;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 54px;
  color: #30a1dd;
  text-align: center;
  font-size: xx-large;
}
