<nav class="navbar navbar-default topnav navbar-fixed-top" role="navigation">
  <div class="container topnav">
    <div class="navbar-header pull-left">
      <a class="navbar-brand topnav home-link" href="/">
        <div class="title-img"></div>
      </a>
    </div>
    
    <div class="user-menu pull-right">
      <div class="img-circle user-img-bg">
        <div class="user-img"></div>
      </div>
      <span class="welcome visible-lg visible-md visible-sm pull-left">Welcome,&nbsp;</span>
      <span class="username visible-lg visible-md visible-sm pull-left">Username.</span>
      <span class="caret"></span>
    </div>
  </div>
</nav>